.container{
    display: flex;
    background-color: #BECDEA;
}

.title{
    margin: 20px;
    font-size: 2.2rem;
    font-family: 'Inter';
}

.headinfo{
    margin: 20px;
    font-family: 'Inter';
}