@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.sidebarcontainer {
  display: flex;
  flex-direction: column;
  background-color: #18253a;
  height: 100vh;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logosidebar {
  margin: 3.25rem;
  width: 50%;
  height: auto;
  align-self: center;
}
.menu-item {
  padding: 20px 0 20px 15px;
  cursor: pointer;
}

.item {
  color: #98b3e1;
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  margin-left: 10px;;
}

.item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #98b3e1;
}

.selected {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #98b3e1;
}

.selecteditem {
  border-width: 2px 0;
  border-style: solid; 
  border-color: #98b3e1;
}

.menu {
  margin-top: 1rem;
  list-style-type: none;
}
